.mein {
    width: 1110px;
    margin: auto;
    font-family: sans-serif;
  }

  .title {
    font-weight: 500;
    font-size: 37px;
    font-family: "Roboto";
    text-align: center;
    
  }

  .title::after {
    width: 170px;
    height: 6px;
    background-color: rgb(40, 207, 174);
    content: "";
    display: block;
    margin: 30px auto 90px;
  }

  .nav_link {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
  }

  .logo {
    height: 50px;
    font-size: 22px;
    padding-top: 14px;
    display: inline-block;
  }

  #logo_green {
    color: rgb(40, 207, 174);
  }

  .nav_bar {
    float: right;
    width: auto;
  }

  .nav li {
    margin-left: 25px;
    font-size: 12px;
    padding-top: 3px;
    float: left;
    list-style: none;
  }

  .nav li :hover {
    color: rgb(40, 207, 174);
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .product {
    padding: 0px;
    margin-bottom: 70px;
  }

  .product li { 
    width: 255px;
    height: 325px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: rgb(233, 240, 253);
    float: left;
    list-style: none;
  }
  
  .product li:hover .card_product,
  .product li:hover .price {
    background-color: rgba(40, 207, 174, 0.568);
    cursor: pointer;
  }
  
  .product :nth-child(4n) {
    margin-right: 0px;
  }
  
  .card_product {
    width: 255px;
    height: 40px;
    background: #323232;
  }
  
  .desc,
  .price {
    line-height: 40px;
    padding-left: 10px;
    font-size: 18px;
    text-transform: uppercase;
    vertical-align: middle;
    color: aliceblue;
    
  }
  .price {
    float: right;
    text-align: center;
    width: 45px;
    background: grey;
    padding-left: 0px;
  }
  .news_section {
    font-family: "Open Sans", sans-serif;
  }
  .news {
    width: 350px;
    margin-right: 30px;
    float: left;
    
  }
  .news_frame {
    margin-bottom: 0px;
  }
  .news_frame :nth-child(3) {
    margin-right: 0px;
  }
  
  .news_subtitle {
    font-weight: 600;
    font-size: 18px;
  }
  
  .news_subtitle::after {
    content: "";
    width: 136px;
    height: 3px;
    background-color: rgb(40, 207, 174);
    margin-bottom: 30px;
    margin-top: 15px;
    display: block;
  }
  .news_button {
    width: 160px;
    height: 51px;
    background-color: rgb(40, 207, 174);
    
    color: aliceblue;
    border-radius: 5px;
    margin-bottom: 100px;
  }