* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: "OpenSans", sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 30px 0;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #444040;
}

.logo:first-letter {
  color: #1abc9c;
  font-weight: bold;
}

.header-nav {
  float: right;
}

.nav-list {
  list-style: none;
}

.list-item {
  float: left;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 11px;
  margin-right: 30px;
}

.list-item:last-child {
  margin-right: 0px;
}

.nav-link {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0px;
  color: #111111;
  font-weight: bold;
}

.nav-link:hover {
  color: #1abc9c;
}

.slider {
  position: relative;
  margin: 0 auto;
  background-position: center;
  background: no-repeat;
  background-image: url(..//img/slide4.png);
  width: 1600px;
  height: 600px;
}

.slider:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.6) 100%);
}

.slide-item {
  list-style: none;
}

.slider-title {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 600px;
}

.title {
  position: absolute;
  top: 45%;
  left: 18%;
  transform: translateY(-50%);
  color: #fefefe;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 82px;
  font-family: "Roboto";
  z-index: 2;
}

.text {
  position: absolute;
  top: 52%;
  left: 18%;
  transform: translateY(-50%);
  color: #fefefe;
  text-transform: uppercase;
  font-size: 24px;
  font-family: "Roboto";
  z-index: 2;
}

.prev-side,
.next-side {
  position: absolute;
  width: 100px;
  height: 100px;
  font-size: 35px;
  padding: 30px 40px;
  background-color: #509d8b;
  color: #fefefe;
  z-index: 2;
  cursor: pointer;
  border: #64c0ab 3px solid;
  top: 50%;
  transform: translateY(-50%);
}

.prev-side:hover {
  background-color: #7bc4b5;
  border: #fefefe 3px solid;
}

.next-side:hover {
  background-color: #7bc4b5;
  border: #fefefe 3px solid;
}

.prev-side {
  left: 0;
}

.next-side {
  right: 0;
}

.collection {
  background-color: #e9f0fd;
  padding: 50px 0;
}

.section-title {
  text-transform: uppercase;
  text-align: center;
  font-family: "Roboto";
  font-size: 48px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: -1px;
  color: #515151;
  margin-bottom: 30px;
}

.section-title::after {
  content: "";
  border-bottom: 7px solid #1abc9c;
  display: block;
  width: 136px;
  margin: 0 auto;
  margin-top: 25px;
}

.collection-list {
  list-style: none;
}

.collection-item {
  position: relative;
  float: left;
  width: 255px;
  margin-right: 30px;
}

img {
  display: block;
}

.collection-item:nth-child(4n) {
  margin-right: 0px;
}

.profile {
  float: left;
  text-transform: uppercase;
  line-height: 40px;
  width: 200px;
  text-align: left;
  color: white;
  background-color: #515151;
  padding: 0 10px;
  font-family: "Roboto";
}

.price {
  float: right;
  line-height: 40px;
  width: 55px;
  text-align: center;
  color: white;
  background-color: #515151;
  background: rgba(81, 81, 81, 0.5);
  padding: 0px;
  font-family: "Roboto";
}

.card-list__overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border: #fefefe solid 2px; /* solid Сокращенное свойство для установки ширины, стиля и цвета границы.*/
  width: 255px;
  height: 282px;
  top: 0px;
  left: 0px;
  opacity: 0;
}

.collection-item:hover .card-list__overlay {
  opacity: 1; /*Непрозрачность текста элемента, где 1 непрозрачен, а 0 полностью прозрачен.*/
}

.card-list {
  position: absolute;
  list-style: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-item {
  display: block;
  float: left;
}

.card-item:not(:last-child) {
  margin-bottom: 7px;
}

.card-item:not(:last-child):not(:first-child) {
  margin-left: 7px;
}

.collection-item:hover .profile {
  background-color: #1abc9c;
}

.collection-item:hover .price {
  background: rgba(26, 188, 156, 0.4);
}

.fa-heart,
.fa-random,
.fa-clock {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 24px;
  color: #fefefe;
  padding: 12px;
  background-color: #323232;
  cursor: pointer;
}

.fa-clock {
  margin-right: 0px;
}

.fa-heart:hover {
  background-color: #1abc9c;
}

.fa-random:hover {
  background-color: #1abc9c;
}

.fa-clock:hover {
  background-color: #1abc9c;
}

.fa-shopping-cart {
  display: block;
  font-size: 24px;
  width: 182px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #323232;
  color: #fefefe;
  padding: 15px 0;
  cursor: pointer;
}

.fa-shopping-cart:hover {
  background-color: #1abc9c;
}

.shop {
  float: right;
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  padding: 8px 15px;
}

.footer {
  background-color: #323232;
  background-size: 100%;
}

.footer-title {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 28px;
  color: #fefefe;
  font-family: "Open Sans";
  font-weight: 400;
  text-align: center;
  padding: 30px 0;
}

.writer {
  color: #1abc9c;
  text-decoration: none;
}
