* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 900px;
  margin: auto;
  background-color: white;
  padding-top: 32px;
}

.list {
  list-style: none;
  text-align: center;
  display: inline-block;
  margin-left: 150px;
}

.list-item {
  display: inline-block;
}

.list-link {
  display: block;
  width: 150px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Times New Roman", sans-serif;
  color: #555555;
  font-size: 18px;
  margin-bottom: 110px;
}

.list-link:hover {
  color: blue;
}

.card  {
  font-size: 16px; 
  display: inline-block;
  vertical-align: top;
  width: calc(48% - 30px);
}

.card-mr {
  margin-right: 60px;
}

.card-subtitle {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  line-height: 2;
  color: gray;
}

.text-light {
  color: lightgray;
}

.card-title {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  line-height: 2.8;
  color: gray;
  text-align: left;
}

.card-description {
  margin-bottom: 50px;
}

.text {
  font-family: Roboto, serif;
  line-height: 1.6;
  color: gray;
  text-align: justify;
}

.load_button {
  width: 900px;
  text-align: center;
}

button {
  display: inline-block;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: solid 1px;
  background: white;
  font-size: 22px;
  margin-bottom: 160px;
}
